IOT/AUTOMATIC ACCIDENT ALERT SYSTEM/node-red flow.txt
[{"id":"48ccf88a.2e1408","type":"http in","z":"1d7c593d.135d87","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":65,"y":738.2291870117188,"wires":[["edd85ca7.69c19"]]},{"id":"1ee24ec1.e68f01","type":"http response","z":"1d7c593d.135d87","name":"","statusCode":"","headers":{},"x":993.0694580078125,"y":726.3507080078125,"wires":[]},{"id":"edd85ca7.69c19","type":"function","z":"1d7c593d.135d87","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":218,"y":733,"wires":[["1ee24ec1.e68f01","dd170340.d120c","2f3fa445.81201c","662966a5.ba7b18","c395502f.e4f07"]]},{"id":"dd170340.d120c","type":"function","z":"1d7c593d.135d87","name":"","func":"msg.payload=msg.payload.x;\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":705,"wires":[["fd6854cd.f57448","652e6ce1.aba6e4"]]},{"id":"fd6854cd.f57448","type":"debug","z":"1d7c593d.135d87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":603,"y":625,"wires":[]},{"id":"16e107e1.5eeb68","type":"debug","z":"1d7c593d.135d87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":572,"y":750,"wires":[]},{"id":"2f3fa445.81201c","type":"function","z":"1d7c593d.135d87","name":"","func":"msg.payload=msg.payload.y;\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":782,"wires":[["16e107e1.5eeb68","d1b493ab.c1e2d"]]},{"id":"662966a5.ba7b18","type":"function","z":"1d7c593d.135d87","name":"","func":"msg.payload=msg.payload.z;\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":876,"wires":[["a4512bda.eb4a28","3f4a2fb5.9532c"]]},{"id":"a4512bda.eb4a28","type":"debug","z":"1d7c593d.135d87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":581,"y":922,"wires":[]},{"id":"652e6ce1.aba6e4","type":"ui_text_input","z":"1d7c593d.135d87","name":"","label":"","tooltip":"","group":"f5e7c1f2.d6772","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":906,"y":625,"wires":[[]]},{"id":"d1b493ab.c1e2d","type":"ui_text_input","z":"1d7c593d.135d87","name":"","label":"","tooltip":"","group":"f5e7c1f2.d6772","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1014,"y":791,"wires":[[]]},{"id":"3f4a2fb5.9532c","type":"ui_text_input","z":"1d7c593d.135d87","name":"","label":"","tooltip":"","group":"f5e7c1f2.d6772","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":997,"y":885,"wires":[[]]},{"id":"c395502f.e4f07","type":"function","z":"1d7c593d.135d87","name":"","func":"msg.payload=msg.payload.a;\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":942,"wires":[["e8b60592.16f7d8","b93bff9a.5e865"]]},{"id":"e8b60592.16f7d8","type":"debug","z":"1d7c593d.135d87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":566,"y":1014,"wires":[]},{"id":"fcfd88f8.27ba58","type":"http request","z":"1d7c593d.135d87","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.msg91.com/api/sendhttp.php?mobiles=8078304509&authkey=279720A1KCxSgUp5cf75030&route=4&sender=TESTIN&message=alert accident occured&country=91","tls":"","proxy":"","authType":"basic","x":337,"y":1125,"wires":[["e8b60592.16f7d8"]]},{"id":"b93bff9a.5e865","type":"switch","z":"1d7c593d.135d87","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Accident","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":333,"y":1027,"wires":[["fcfd88f8.27ba58"]]},{"id":"f5e7c1f2.d6772","type":"ui_group","z":"","name":"GROUP1","tab":"56b5c8f.9cb6d38","disp":true,"width":"6","collapse":false},{"id":"56b5c8f.9cb6d38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]