IOT/AA/node red.txt
[{"id":"fa3bf974.a16a28","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":9,"width":0,"height":0,"passthru":false,"label":"LIGHT1 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT1OFF","payloadType":"str","topic":"","x":149.16669273376465,"y":113.00001335144043,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"55733585.839c5c","type":"debug","z":"314fcbe0.f2dc64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":588.1666870117188,"y":204.66668701171875,"wires":[]},{"id":"62aced2c.6e6834","type":"ibmiot out","z":"314fcbe0.f2dc64","authentication":"apiKey","apiKey":"e9ad1a12.95f4f8","outputType":"cmd","deviceId":"1234","deviceType":"light","eventCommandType":"home","format":"String","data":"Light","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":280,"wires":[]},{"id":"1f43a09d.2a7daf","type":"function","z":"314fcbe0.f2dc64","name":"","func":"msg.payload = msg.payload.command;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["93beafe3.ea34f","ff3d1c23.80c93","62aced2c.6e6834"]]},{"id":"7d43c7b3.da9758","type":"http in","z":"314fcbe0.f2dc64","name":"","url":"data","method":"get","upload":false,"swaggerDoc":"","x":190.16668701171875,"y":403.66668701171875,"wires":[["1f43a09d.2a7daf"]]},{"id":"93beafe3.ea34f","type":"http response","z":"314fcbe0.f2dc64","name":"","statusCode":"","headers":{},"x":588.1666812896729,"y":425.6666793823242,"wires":[]},{"id":"ff3d1c23.80c93","type":"debug","z":"314fcbe0.f2dc64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":500,"wires":[]},{"id":"4c9f2e81.3b6ea","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":8,"width":0,"height":0,"passthru":false,"label":"LIGHT1 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT1ON","payloadType":"str","topic":"","x":146.16669082641602,"y":55.000006675720215,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"f727588a.858a08","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":2,"width":0,"height":0,"passthru":false,"label":"AUTOMATIC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"AUTOMATIC","payloadType":"str","topic":"","x":228.0000457763672,"y":363.00000953674316,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"a436956c.0cddf8","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHT2 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT2OFF","payloadType":"str","topic":"","x":145.1666717529297,"y":226.00000667572021,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"2c2f2ae8.303746","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":6,"width":0,"height":0,"passthru":false,"label":"LIGHT3 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT3ON","payloadType":"str","topic":"","x":251.1666717529297,"y":276.00000762939453,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"380a8560.eef34a","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":5,"width":0,"height":0,"passthru":false,"label":"LIGHT3 OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT3OFF","payloadType":"str","topic":"","x":252.1666717529297,"y":320.00000762939453,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"112d9e0a.ff4982","type":"ui_button","z":"314fcbe0.f2dc64","name":"","group":"d5ffcf5b.66451","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHT2 ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT2ON","payloadType":"str","topic":"","x":147.16669082641602,"y":169.00000476837158,"wires":[["55733585.839c5c","62aced2c.6e6834"]]},{"id":"d5ffcf5b.66451","type":"ui_group","z":"","name":"LIGHT","tab":"67426d91.66de54","disp":true,"width":"6","collapse":false},{"id":"e9ad1a12.95f4f8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"67426d91.66de54","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]