IOT/SMARTwaste managment/Code/Node-Red.txt
[{"id":"447957c1.1ea7e8","type":"ibmiot in","z":"dffc601f.9d7cb","authentication":"apiKey","apiKey":"cd2d2ed5.afba","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"SmartDustbin","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":179.10000610351562,"y":615.0000686645508,"wires":[["680d87b7.563448"]]},{"id":"700b0826.bc4ce8","type":"debug","z":"dffc601f.9d7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":674.1000595092773,"y":521.0000839233398,"wires":[]},{"id":"169188b2.52a357","type":"ibmiot out","z":"dffc601f.9d7cb","authentication":"apiKey","apiKey":"cd2d2ed5.afba","outputType":"cmd","deviceId":"12345","deviceType":"SmartDustbin","eventCommandType":"Alter","format":"String","data":"led","qos":0,"name":"IBM IoT","service":"registered","x":847.1000595092773,"y":208.7999973297119,"wires":[]},{"id":"845402ed.c5db","type":"ui_button","z":"dffc601f.9d7cb","name":"","group":"82231746.458b88","order":0,"width":0,"height":0,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTON","payloadType":"str","topic":"","x":148.5,"y":214.19999885559082,"wires":[["169188b2.52a357"]]},{"id":"31f78947.329d26","type":"ui_button","z":"dffc601f.9d7cb","name":"","group":"82231746.458b88","order":1,"width":0,"height":0,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTOFF","payloadType":"str","topic":"","x":142,"y":302.2000160217285,"wires":[["169188b2.52a357"]]},{"id":"e80fe9e9.9a1f38","type":"function","z":"dffc601f.9d7cb","name":"","func":"msg.payload=msg.payload.d.sensor\nreturn msg;","outputs":1,"noerr":0,"x":661.5000076293945,"y":276.199999332428,"wires":[["c4da8432.c851f8","69b2c083.d30f7","169188b2.52a357"]]},{"id":"c4da8432.c851f8","type":"http request","z":"dffc601f.9d7cb","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","authType":"basic","x":851.1000595092773,"y":323.4000473022461,"wires":[[]]},{"id":"d3598887.9b42b8","type":"http in","z":"dffc601f.9d7cb","name":"","url":"data","method":"get","upload":false,"swaggerDoc":"","x":140.10000610351562,"y":398.1999969482422,"wires":[["e80fe9e9.9a1f38"]]},{"id":"69b2c083.d30f7","type":"debug","z":"dffc601f.9d7cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":834.1000595092773,"y":267.1999988555908,"wires":[]},{"id":"680d87b7.563448","type":"function","z":"dffc601f.9d7cb","name":"","func":"global.set(\"dist\",msg.payload.d.adc)\nmsg.payload=msg.payload.d.adc\nreturn msg;","outputs":1,"noerr":0,"x":418.1000556945801,"y":579.0000324249268,"wires":[["700b0826.bc4ce8"]]},{"id":"2fab9f98.847aa","type":"http in","z":"dffc601f.9d7cb","name":"","url":"/values","method":"get","upload":false,"swaggerDoc":"","x":227.10000610351562,"y":694.0000343322754,"wires":[["ce9a75d.8605888"]]},{"id":"e3894c63.1c2a9","type":"http response","z":"dffc601f.9d7cb","name":"","statusCode":"","headers":{},"x":544.1000537872314,"y":709.0000829696655,"wires":[]},{"id":"ce9a75d.8605888","type":"function","z":"dffc601f.9d7cb","name":"","func":"msg.payload=global.get(\"dist\")\nreturn msg;","outputs":1,"noerr":0,"x":403.1000518798828,"y":678.8000345230103,"wires":[["e3894c63.1c2a9"]]},{"id":"cd2d2ed5.afba","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"3j9cvj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"82231746.458b88","type":"ui_group","z":"","name":"Default","tab":"9169b8ad.20aac8","disp":true,"width":"6","collapse":false},{"id":"9169b8ad.20aac8","type":"ui_tab","z":"","name":"Dustbin","icon":"dashboard","disabled":false,"hidden":false}]