IOT/DROWSINESS DETECTION AND ALERTING SYSTEM/flows.json
[{"id":"928e451f.b10bb8","type":"http in","z":"56edb908.48d1c8","name":"","url":"alert","method":"get","upload":false,"swaggerDoc":"","x":170,"y":380,"wires":[["e16a5fdf.6248e"]]},{"id":"fef9508c.52969","type":"http response","z":"56edb908.48d1c8","name":"","statusCode":"","headers":{},"x":730,"y":400,"wires":[]},{"id":"4877a2c8.f062fc","type":"ibmiot out","z":"56edb908.48d1c8","authentication":"apiKey","apiKey":"c719ee2d.55267","outputType":"cmd","deviceId":"123456789","deviceType":"Drowsiness","eventCommandType":"home","format":"String","data":"data points","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":240,"wires":[]},{"id":"e16a5fdf.6248e","type":"function","z":"56edb908.48d1c8","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["fef9508c.52969","1724202c.c54de","4877a2c8.f062fc","ab1bf99b.58ca48"]]},{"id":"1724202c.c54de","type":"debug","z":"56edb908.48d1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":460,"wires":[]},{"id":"ab1bf99b.58ca48","type":"ui_text","z":"56edb908.48d1c8","group":"ec52d99b.f18678","order":2,"width":0,"height":0,"name":"","label":"Alert","format":"{{msg.payload}}","layout":"row-left","x":440,"y":80,"wires":[]},{"id":"c719ee2d.55267","type":"ibmiot","z":"","name":"alerting","keepalive":"60","serverName":"j533y3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ec52d99b.f18678","type":"ui_group","z":"","name":"ALERTING","tab":"706b3862.0c3218","disp":true,"width":"6","collapse":false},{"id":"706b3862.0c3218","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]