IOT/SMARTBILLINGSYSTEMFORWATERSUPPILERS/Node Red.txt
[{"id":"f5c903d.a40e5","type":"cloudant in","z":"5756f66d.6cc0f8","name":"","cloudant":"","database":"billsystem","service":"billsystem-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":220,"y":140,"wires":[["ddb9f043.3740c","98579c60.7c97d"]]},{"id":"ddb9f043.3740c","type":"debug","z":"5756f66d.6cc0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":200,"wires":[]},{"id":"48c8240a.aee1bc","type":"http in","z":"5756f66d.6cc0f8","name":"","url":"search","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["70b1e134.7814b"]]},{"id":"a7278d8b.e687","type":"http response","z":"5756f66d.6cc0f8","name":"","statusCode":"","headers":{},"x":670,"y":380,"wires":[]},{"id":"70b1e134.7814b","type":"function","z":"5756f66d.6cc0f8","name":"ID","func":"msg.payload=msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["f5c903d.a40e5"]]},{"id":"98579c60.7c97d","type":"function","z":"5756f66d.6cc0f8","name":"Amount","func":"msg.payload=msg.payload.amount\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["c7b4148f.a76068","ddb9f043.3740c"]]},{"id":"c7b4148f.a76068","type":"switch","z":"5756f66d.6cc0f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"500","vt":"str"},{"t":"lte","v":"490","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":60,"wires":[["e93ec33a.e3402"],["eb31080f.9e6d18"]]},{"id":"e93ec33a.e3402","type":"template","z":"5756f66d.6cc0f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"valid","output":"str","x":740,"y":40,"wires":[["a7278d8b.e687","ddb9f043.3740c"]]},{"id":"eb31080f.9e6d18","type":"template","z":"5756f66d.6cc0f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"invalid","output":"str","x":720,"y":100,"wires":[["a7278d8b.e687","ddb9f043.3740c"]]},{"id":"eea9c686.f5c8d8","type":"inject","z":"5756f66d.6cc0f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["73f9fed2.195e4"]]},{"id":"73f9fed2.195e4","type":"function","z":"5756f66d.6cc0f8","name":"","func":"msg.payload={\"_id\": \"21413624748153\",\n\"_rev\": \"1-322cfaa17c8c4d221cc9dfc2b7a285a3\",\n\"name\": \"John Honai\",\n\"street\": \"Anna nagar\",\n\"amount\":800}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["be89f7ff.da6e38"]]},{"id":"43fbd284.ab919c","type":"ui_form","z":"5756f66d.6cc0f8","name":"","label":"","group":"5b1c30e4.c014","order":0,"width":0,"height":0,"options":[{"label":"Enter ID","value":"val","type":"text","required":true}],"formValue":{"val":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":798,"wires":[["4ac8f670.9de858"]]},{"id":"27ef9129.6169ee","type":"debug","z":"5756f66d.6cc0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":552,"y":861,"wires":[]},{"id":"4ac8f670.9de858","type":"function","z":"5756f66d.6cc0f8","name":"val","func":"msg.payload=msg.payload.val\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":798,"wires":[["27ef9129.6169ee","bb88a4c7.cbc278"]]},{"id":"bb88a4c7.cbc278","type":"cloudant in","z":"5756f66d.6cc0f8","name":"","cloudant":"","database":"billsystem","service":"billsystem-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":448,"y":714,"wires":[["27ef9129.6169ee","6268abef.808324","35eb0b33.65e924","19b07bd3.69a104"]]},{"id":"6268abef.808324","type":"function","z":"5756f66d.6cc0f8","name":"Name","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":609,"y":677,"wires":[["267f480c.a0ed58"]]},{"id":"267f480c.a0ed58","type":"ui_text","z":"5756f66d.6cc0f8","group":"5b1c30e4.c014","order":1,"width":0,"height":0,"name":"","label":"Name : ","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":677,"wires":[]},{"id":"35eb0b33.65e924","type":"function","z":"5756f66d.6cc0f8","name":"Street","func":"msg.payload=msg.payload.street\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":725,"wires":[["c80c4117.09288"]]},{"id":"c80c4117.09288","type":"ui_text","z":"5756f66d.6cc0f8","group":"5b1c30e4.c014","order":2,"width":0,"height":0,"name":"","label":"Street:","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":726,"wires":[]},{"id":"19b07bd3.69a104","type":"function","z":"5756f66d.6cc0f8","name":"Amount","func":"msg.payload=msg.payload.amount\nreturn msg;","outputs":1,"noerr":0,"x":608,"y":776,"wires":[["f816bbed.f715e8"]]},{"id":"f816bbed.f715e8","type":"ui_text","z":"5756f66d.6cc0f8","group":"5b1c30e4.c014","order":2,"width":0,"height":0,"name":"","label":"Amount:","format":"{{msg.payload}}","layout":"row-spread","x":776,"y":787,"wires":[]},{"id":"be89f7ff.da6e38","type":"cloudantplus-selector out","z":"5756f66d.6cc0f8","name":"","cloudant":"","database":"billsystem","service":"billsystem-cloudantNoSQLDB","payonly":true,"operation":"insert","x":332,"y":483,"wires":[[]]},{"id":"5b1c30e4.c014","type":"ui_group","z":"","name":"User Data","tab":"ca68f5f7.221f18","disp":true,"width":"6","collapse":false},{"id":"ca68f5f7.221f18","type":"ui_tab","z":"","name":"SmartBillingSystem","icon":"dashboard","disabled":false,"hidden":false}]